.root {
    background-color: rgb(246, 246, 246);
    box-shadow: 0 1px rgb(224, 224, 224);
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-row-gap: 0.5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}
.open {
    background-color: rgb(246, 246, 246);
    box-shadow: 0 1px rgb(224, 224, 224);
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-row-gap: 0.5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

.closed {
    background-color: rgb(246, 246, 246);
    box-shadow: 0 1px rgb(224, 224, 224);
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-row-gap: 0.5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

.toolbar {
    align-content: center;
    align-items: center;
    display: grid;
    grid-template-areas: 'primary title secondary';
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 3rem;
    justify-items: center;
    /* min-height: 3.5rem; */
    padding: 0 1rem;
    height: 2.5rem;
}

.navTrigger,
.cartTrigger {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    pointer-events: auto;
    text-align: center;
    white-space: nowrap;
    height: 3rem;
    width: 3rem;
}

.logo {
    /* grid-area: title; */
    /* width: 3rem; */
}

.primaryActions {
    /* grid-area: primary; */
    justify-self: start;
}

.secondaryActions {
    /* grid-area: secondary; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
}
