.containerBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
}
.containerBox::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #3a3e46;
    opacity: .2;
}
.containerText {
    position: absolute;
    text-align: center;
}
.text {
    font-size: 1.25rem;
    font-family: 'Gibson-Regular','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #fff;
    margin: 1rem 2rem;
    font-weight: 600;
}
.btn {
    font-size: 0.75rem;
    background-color: #f5f5f5;
    color: #ea9273;
    text-transform: uppercase;
    display: inline-block;
    transition: all ease-in-out .3s;
    padding: 0.5rem 1.25rem;
    font-weight: 600;
}
.containerBox img{
    height: auto;
    width: 100%;
}