.root {
    text-align: center;
}

.images {
    display: grid;
    grid-template-areas: 'main';
}

.image {
    display: block;
    grid-area: main;
    height: auto;
    opacity: 1;
    transition-duration: 512ms;
    transition-property: opacity, visibility;
    transition-timing-function: ease-out;
    visibility: visible;
    width: 100%;
}

.imagePlaceholder {
    composes: image;
    background-color: rgb(var(--venia-grey));
}
.colors {
    height: auto;
    margin-top: .625rem;
}
.oldPrice {
    text-decoration: line-through;
    color: #999;
    font-size: .75rem;
    text-align: center;
}
.colormsg {
    margin: 0 auto 0.3rem;
    color: #ea9273;
    font-size: 0.75rem;;
    border-radius: 1px;
    line-height: 1rem;
    background-color: #fff6f3;
    border: solid 1px #ea9273;
    padding: 0.125rem 0.4rem;
    width: fit-content;
    text-transform: capitalize;
}
.name,
.price {
    font-family: 'Gibson-Regular','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #333;
    font-size: 0.8125rem;
    line-height: 1rem;
    margin: 0.3rem 0;
    min-height: 1rem;
}

/* state: pending */

.root_pending {
    composes: root;
}

.images_pending {
    composes: images;
}

.image_pending {
    composes: image;
    opacity: 0;
    visibility: hidden;
}

.imagePlaceholder_pending {
    composes: imagePlaceholder;
}

.name_pending {
    composes: name;
    background-color: rgb(var(--venia-grey));
}

.price_pending {
    composes: price;
    background-color: rgb(var(--venia-grey));
    width: 3rem;
}
.product_name {
    word-break: break-all;
}