.product-banner {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1.875rem;
  padding: 0 1rem;
  .product-title {
    font-size: 1rem;
    letter-spacing: 0;
    margin: 0 auto;
    color: #333;
    text-align: center;
    margin: .5rem 0 1.5rem;
  }
  .swiper-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: #fff;
    .swiper-slide {
      display: flex;
      // margin-right: .625rem;
      width: 50% !important;
    }
    .swiper-pagination-bullets {
      bottom: 0;
      .swiper-pagination-bullet-active {
        background: #ea9273;
      }
      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
      }
    }
    // padding-bottom: 2.5rem;
    .box {
      .img {
        width: 100%;
        display: block;
        border-radius: 0;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
      }
      .boxFooter {
        background-color: rgb(242, 242, 242);
        padding: .625rem;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
        .footerTitle {
          font-size: .875rem;
          color: rgb(51, 51, 51);
          font-weight: 600;
        }
        .pos {
          display: flex;
          justify-content: space-between;
          margin-top: .5rem;
          .footerBody {
            font-size: .75rem;
            color: #999;
            font-family: 'Gibson-Light';
          }
          .href {
            color: #ea9273;

          }
        }
      }
    }
  }

}







