.root {
    padding: 1rem;
}

.header {
    margin-bottom: 2rem;
    text-align: center;
}

.title {
    text-transform: uppercase;
}

.content {
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-column-gap: 0.625rem;
    grid-row-gap: 0.625rem;
}

.fetchError {
    background-color: rgb(var(--venia-warning-light));
    color: rgb(var(--venia-warning-dark));
}

.fetchingData {
    color: rgb(--venia-grey);
}

.noResults {
    composes: fetchingData;
}
