.root {
    background: #ea9273;
    font-size: 0.875rem;
    font-family: 'Gibson-Regular','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
    height: 1.875rem;
    line-height: 1.875rem;
    color: #fff;
    display: flex;
    justify-content: center;
}