.root {
    background-color: #eee;
    border-top: 1px solid rgb(var(--venia-border));
    color: black;
    margin-top: 1rem;
    padding: 0 1rem;
}

.tile {
    margin-top: .625rem;
    border-bottom: 1px solid rgb(var(--venia-border));
}
.tip {
    font-size: .875rem;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}
.tip p{
    margin-bottom: 5px;
}
.form {
    display: flex;
    font-size: .75rem;
}
.form button {
    width: 6.25rem;
    height: 2.25rem;
    vertical-align: middle;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 2px;
    background-image: none;
    background: #ea9273;
    margin: 0;
    border: none;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.int {
    text-decoration:none;
    display: block;
    border: 1px solid #ddd;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    box-shadow: none;
    flex: 1;
}
.linklogo {
    padding: 2rem 0;
}
.outer {
    text-align: center;    
}
.outer li{
    display: inline-block;
    /* width: 1.875rem; */
    vertical-align: middle;
    margin: 0 5px;
}
svg {
    height: 20px;
}
.copywriting {
    text-align: center;
    font-size: .75rem;
    line-height: 1.42857143;
    font-family: 'Gibson-Regular','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #333;
}
.copyright {
    display: block;
    color: rgb(var(--venia-text-alt));
    font-size: 0.75rem;
    padding: 0 2rem 1.5rem 2rem;
    text-align: center;
}
